@using JLT.Common.Utility;
@using JLT.Floorplan.Entity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var authtoken = CommonUtility.LoggedInUser.authtoken;
    var RestAPI = CommonUtility.GetAppSettingKey(Constants.ApplicationConfiguration.RestServiceURL);
}
<link rel="stylesheet" href="@Url.Content("~/css/jquery.dataTables.min.css")" type="text/css" />
<div class="wrapper-md">
    <button type="button" id="btnSyncEmployee" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-download"></i>Sync Employee</button>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs m-t" role="tablist">
        <li role="presentation" class="active">
            <a href="#active" aria-controls="active" role="tab"
               data-toggle="tab">Employee List <span class="badge progress-bar-info" id="activebadge">0</span></a>
        </li>
        <li role="presentation">
            <a href="#inactive" aria-controls="inactive" role="tab" data-toggle="tab">
                Employee(s) on Leave <span class="badge progress-bar-info" id="inactivebadge">0</span>
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="active">
            <div class="row m-t table-responsive" id="active_row">
                <table id="active_table" class="display" style="width:100%">
                    <thead><tr><th>associateno</th><th>name</th><th>seatno</th><th>departmentname</th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="inactive">
            <div class="row m-t table-responsive" id="inactive_row">
                <table id="inactive_table" class="display" style="width:100%">
                    <thead><tr><th>associateno</th><th>name</th><th>seatno</th><th>departmentname</th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    (function () {
        "use strict";
        var apiurl = '@RestAPI',
        baseURL = '@Url.Action("Index","Home")';

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(document).ready(function () {
            CommonMethods.Init();
            UIEvents.SyncEmployee();

        });
        var employees = '';
        var aemployees = '';
        /************************************************* document.ready [End], CommonMethods [Start] *************************************************************/
        var CommonMethods = {
            Init: function () {
                AjaxCalls.GetEmployee();
                $("#active_table").dataTable({
                    data: employees,
                    columns: [
                        { data: 'associateno' },
                        { data: 'name' },
                        { data: 'seatno' },
                        { data: 'departmentname' },
                    ],
                    "pageLength": 50
                });

                $("#inactive_table").dataTable({
                    data: aemployees,
                    columns: [
                        { data: 'associateno' },
                        { data: 'name' },
                        { data: 'seatno' },
                        { data: 'departmentname' },
                    ],
                    "pageLength": 50
                });
                $('#activebadge').html(employees.length);
                $('#inactivebadge').html(aemployees.length);
                $('[data-toggle="tooltip"]').tooltip();
            },
        };
        /************************************************* CommonMethods [Ends], AjaxCalls [Start] *************************************************************/
        var AjaxCalls = {
            GetEmployee: function () {
                var postData = "{ }";
                $.ajax({
                    url: apiurl + "Employee/GetEmployee",
                    type: "POST",
                    async: false,
                    crossDomain: true,
                    beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'token ' + '@authtoken'); },
                    datatype: "json",
                    data: JSON.stringify(postData),
                    contentType: "application/json",
                    success: function (data) {
                        employees = $.parseJSON(data.body);
                        $.each(employees, function (i, s) {
                            if (s.onleave) aemployees.push(s);
                        });
                       return false;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        e = $.parseJSON(xhr.responseText);
                        alert(e.message);
                    }
                });
            },
            UpdateEmployeeStatus: function (postData) {
                $.ajax({
                    url: apiurl + "SyncUtility/UpdateEmployeeStatus",
                    type: "POST",
                    async: true,
                    crossDomain: true,
                    beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'token ' + '@authtoken'); },
                    datatype: "json",
                    data: "=" + JSON.stringify(postData),
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data) {
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var e = $.parseJSON(xhr.responseText);
                        //alert(e.message);
                    }
                }); //UpdateTestStatus Ajax ends
            },
            SyncEmployee: function () {
                $.ajax({
                    url:  "hrmsapi",
                    type: "GET",
                    async: true,
                    crossDomain: true,
                    datatype: "json",
                    data: "",
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data) {
                        var employeeList = [];
                        if (data) {
                            if (data.length > 0) {
                                for (var i = 0; i < data.length; i++) {
                                    employeeList.push({
                                        "associateno": data[i].id, "name": data[i].name, "departmentid": data[i].departmentid,
                                        "isactive": data[i].isactive
                                    });
                                }
                                AjaxCalls.SaveSyncEmployeeData(employeeList);
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var e = $.parseJSON(xhr.responseText);
                        //alert(e.message);
                    }
                }); //Syncemployee Ajax ends
            },
            SaveSyncEmployeeData: function (employeeList) {
                $.ajax({
                    url: apiurl + "SyncUtility/SyncEmployee",
                    type: "POST",
                    async: true,
                    crossDomain: true,
                    beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'token ' + '@authtoken'); },
                    datatype: "json",
                    data: "=" + JSON.stringify(employeeList),
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data) {
                        CommonMethods.Init();
                        alert("Employee Data synced from source system!");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var e = $.parseJSON(xhr.responseText);
                        //alert(e.message);
                    }
                }); //SaveSyncEmployeeData Ajax ends
            }
        };
        /************************************************* AjaxCalls [Ends], UIEvents [Start] *************************************************************/
        var UIEvents = {
            SyncEmployee: function () {
                $('#btnSyncEmployee').on('click', function () {
                    AjaxCalls.SyncEmployee();
                });
            },
        }
        /************************************************* UIEvents [Ends] *************************************************************/
    })();

    </script>
}