@using JLT.Common.Utility;
@using JLT.Floorplan.Entity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var authtoken = CommonUtility.LoggedInUser.authtoken;
    var RestAPI = CommonUtility.GetAppSettingKey(Constants.ApplicationConfiguration.RestServiceURL);
    var Userrole = JLT.Common.Utility.CommonUtility.LoggedInUser.role;
    var Adminrole = Convert.ToInt32(Enums.UserRoles.Admin);
    var UserId = CommonUtility.LoggedInUser.id;
    var WebSocketServer = CommonUtility.GetAppSettingKey(Constants.WebSocketKeys.WebSocketServer);
}

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black" id="page_header">Dashboard</h1>
                    <small class="text-muted">Welcome to Seat Management Solution</small>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->
            <div id="admin">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row row-sm text-center">
                            <div class="panel wrapper">
                                <div class="input-group m-t-sm width-95pc-imp">
                                    <select class="form-control" id="ddlFloor">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row row-sm text-center">
                            <div class="col-xs-6">
                                <div class="panel padder-v item">
                                    <div class="h1 text-info font-thin h1" id="spn_totalseats">0</div>
                                    <span class="text-muted text-xs">Total Seats</span>
                                    <div class="bottom text-right w-full cursor-pointer refresh-dash">
                                        <i class="fa fa-refresh text-muted m-r-sm"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel padder-v bg-success item">
                                    <div class="h1 font-thin h1" id="spn_ocuupiedseats">0</div>
                                    <span class="text-muted text-xs">Occupied Seats</span>
                                    <div class="bottom text-right w-full cursor-pointer refresh-dash">
                                        <i class="fa fa-refresh text-muted m-r-sm"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel padder-v bg-info item">
                                    <div class="h1 font-thin h1" id="spn_vacantseats">0</div>
                                    <span class="text-muted text-xs">Unallocated Seats</span>
                                    <div class="bottom text-right w-full cursor-pointer refresh-dash">
                                        <i class="fa fa-refresh text-muted m-r-sm"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel padder-v bg-danger item">
                                    <div class="font-thin h1" id="spn_morethan10daysseats">0</div>
                                    <span class="text-muted text-xs">Seats unoccupied + available for >10 days</span>
                                    <div class="bottom text-right w-full cursor-pointer refresh-dash">
                                        <i class="fa fa-refresh text-muted m-r-sm"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel padder-v bg-dark item">
                                    <div class="h1 text-info font-thin h1" id="spn_morethan5daysseats">0</div>
                                    <span class="text-muted text-xs">Seats available for >5 days</span>
                                    <div class="bottom text-right w-full cursor-pointer refresh-dash">
                                        <i class="fa fa-refresh text-muted m-r-sm"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel padder-v bg-primary item">
                                    <div class="font-thin h1" id="spn_lessthan5daysseats">0</div>
                                    <span class="text-muted text-xs">Seats available for &lt=5 days</span>
                                    <div class="bottom text-right w-full cursor-pointer refresh-dash">
                                        <i class="fa fa-refresh text-muted m-r-sm"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- / stats -->
        </div>
    </div>
    <!-- / main -->
</div>

@section Scripts {
    <script>
        (function () {
            "use strict";
            var apiurl = '@RestAPI',
                baseURL = '@Url.Action("Index","Home")';
                /************************************************* document.ready [Start] *************************************************************/
                $(document).ready(function () {
                    $(".no-dashboard").addClass("hide");
                    CommonMethods.Init();
                    CommonMethods.RefreshDashboard();
                });
                /************************************************* document.ready [End], CommonMethods [Start] *************************************************************/
            var CommonMethods = {
                Init: function () {
                    try {
                        if (sessionStorage['_floors']) {
                            CommonMethods.Populatefloors($.parseJSON(sessionStorage['_floors']));
                        } else {
                            AjaxCalls.Getfloors();
                        }
                        AjaxCalls.GetDashboard();
                    } catch (e) { };
                },
                  Populatefloors: function (floors) {
                    var userHtml = '', userList = null;
                      for (var i = 0; i < floors.length; i++){
                        $('#ddlFloor')
                            .append($("<option></option>")
                                .attr("value", floors[i].floorid)
                                .text(floors[i].floorname + ' (' + floors[i].buildingname+')'));
                    }
                },
                CoverScreen: function(message){
                    message = message || '';
                    var divCover = $('<div>').addClass('signal-svr-err-screen').attr({"id": "divScreenCover"});
                    var divMsg = $('<div>').addClass('signal-svr-err-msg').attr({ "id": "divScreenCoverMsg" }).html(message);
                    $('body').append(divCover.append(divMsg));
                },
                CoverScreenChangeMsg: function(Message){
                    $('#divScreenCoverMsg').html(Message);
                },
                RemoveScreenCover: function(){
                    $('#divScreenCover').remove();
                },
                RefreshDashboard: function(){
                    $('.refresh-dash').on('click',function(){
                        AjaxCalls.GetDashboard();
                    });
                },

            };
            var AjaxCalls = {
                Getfloors: function () {
                    var postData = {isactive:true };
                    $.ajax({
                        url: apiurl + "Masters/Getfloor",
                        type: "POST",
                        async: false,
                        crossDomain: true,
                        beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'token ' + '@authtoken'); },
                        datatype: "json",
                        data:"=" +JSON.stringify(postData),
                        contentType: "application/x-www-form-urlencoded",
                        success: function (data) {
                            sessionStorage.setItem('_floors', data.body);
                            CommonMethods.Populatefloors($.parseJSON(data.body));
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                           // e = $.parseJSON(xhr.responseText);
                            alert(thrownError);
                        }
                    });
                },

                GetDashboard: function() {
                    $.ajax({
                        url: apiurl + 'Masters/GetDashboard?floorid=' + $("#ddlFloor").val(),
                        type: 'Get',
                        data: "",
                        async: true,
                        crossDomain: true,
                        beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'token ' + '@authtoken'); },
                        contentType: "application/x-www-form-urlencoded",
                        dataType: "json",
                        success: function (data) {
                            var dashboard = $.parseJSON(data.body);
                            $('#spn_totalseats').text(dashboard.totalseat);
                            $('#spn_ocuupiedseats').text(dashboard.occupiedseat);
                            $('#spn_vacantseats').text(dashboard.vacantseat);
                            $('#spn_morethan10daysseats').text(dashboard.seatavailablemorethan10days);
                            $('#spn_morethan5daysseats').text(dashboard.seatavailablemorethan5days);
                            $('#spn_lessthan5daysseats').text(dashboard.seatavailablelessthan5days);

                        },
                        error: function (jqHXR, textStatus, errorThrown) {

                        }
                    })//Ajax call ends
                }
            };
            /************************************************************* AjaxCalls [Ends] ************************************************************************/
        })();
    </script>
}