#holder {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    border: 1px solid #A4A4A4;
    text-align:center;
    margin:0 auto;
    overflow:visible;
}

#place {
    text-align:center;
    position: relative;
    margin: 10px;
}

    #place a {
        font-size: 12px;
        color:#fff;
    }

    #place li {
        list-style: none outside none;
        position: absolute;
    }

        #place li:hover {
            background-color: yellow;
        }

    #place .seat {
        background-color: #808080;
        height: 33px;
        width: 33px;
        display: block;
    }

    #place .selectedSeat {
        background-color: #ff6a00;
    }

    #place .selectingSeat {
        background-color: #ffd800;
    }

    #place .row-3, #place .row-4 {
        margin-top: 10px;
    }

#seatDescription {
    padding: 0px;
}

    #seatDescription li {
        vertical-align: middle;
        list-style: none outside none;
        padding-left: 35px;
        height: 35px;
        float: left;
    }
