@{
    ViewBag.Title = "Unauthorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper-md">
    <h2>Unauthorised: you have no access for this page</h2>
    <p>Contact administrator for access request.</p>
</div>

