@using JLT.Common.Utility;
@{
    ViewBag.Title = "Floor Plan";
    var authtoken = CommonUtility.LoggedInUser.authtoken;
    var RestAPI = CommonUtility.GetAppSettingKey(Constants.ApplicationConfiguration.RestServiceURL);

}
<link rel="stylesheet" href="@Url.Content("~/css/fp.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/css/jquery.seat-charts.css")" type="text/css" />
<div class="wrapper">
    <div class="container">
        <div id="seat-map">
            <div class="" style="width:98%"><i class="fa fa-arrow-down"></i><span style="padding:10px">ENTRY</span> <i class="fa fa-arrow-down"></i></div>
            <div class="front-indicator" style="float:left">Mountain Side</div>
            <div class="front-indicator" style="float:right">Lake Side</div>
            <div style="clear:both"></div>
        </div>

        <div class="booking-details">
            <h2>Seat Details</h2>

            <h3> Selected Seats</h3>
            <ul id="selected-seats">N/A</ul>
            <div style="width:100px">
                <label class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input ui-jq="daterangepicker" ui-options="{format: 'DD/MM/YYYY'}" class="form-control w-md active rounded">
                </div>
                <div style="clear:both"></div>
                <div style="width:150px">
                    <label class="col-sm-2 control-label">Employee#</label>
                    <div class="col-sm-10"><input type="text" class="form-control rounded" /> </div>
                </div><p style="clear:both"></p>
                <div class="col-sm-10">
                    <button class="btn btn-success">Allocate &raquo;</button>
                </div>
            </div>

            <div id="legend"><div class="line line-dashed b-b line-lg pull-in"></div></div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/js/jquery.seat-charts.js")"></script>

<script>
    var seats = [];
    var apiurl = '@RestAPI';
    var seatmap = [];
    firstSeatLabel = 0;
    var previd = '';
    $(document).ready(function () {
        var AjaxCalls = {
        GetSeats: function () {
            var postData = {};
            $.ajax({
                url: apiurl + "Masters/Getseats",
                type: "POST",
                async: false,
                crossDomain: true,
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'token ' + '@authtoken'); },
                datatype: "json",
                data: "=" + JSON.stringify(postData),
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {
                    //alert(data.body);
                    seats = $.parseJSON(data.body);
                    var row = 1;
                    var col = 1;
                    var e = '';
                    $.each(seats, function (i, s) {
                        if (s.row == row) {
                            if (s.col == col)
                                e = e + 'f[' + s.seatid + ',' + s.seatlabel + ']'
                            else {
                                for (var j = 0; j < (s.col - col); j++) {
                                    e = e + '_';
                                }
                            }
                            col++;
                        } else {
                            seatmap.push(e);
                            e = '';
                            row = s.row;
                            col = 1;
                        }
                        //seatmap.push()
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var e = $.parseJSON(xhr.responseText);
                    alert(e.message);
                }
            });
        },
    }

        AjaxCalls.GetSeats();
        var $cart = $('#selected-seats'),
            $counter = $('#counter'),
            $total = $('#total'),
            sc = $('#seat-map').seatCharts({
                map: [
                    'f_ffff_________ffffff',
                    '__ffff_________ffff__',
                    'ffffff_________ffffff',
                    'ffffff_________ffffff',
                    'ffffff_________ffffff',
                    '__ffff_________ffff__',
                    '_fffff_________fffff_',
                    'ffffff___ffff__ffffff',
                    'ffffff___fffff_ffffff',
                    'ffffff___fffff_ffffff',
                    'ffffff___fffff_ffffff',
                    '__ffff___fffff_ffff__',
                    '_fffff_________fffff_',
                    'ffffff_________ffffff',
                    'ffffff_________ffffff',
                    'ffffff_________ffffff',
                    'ffffff_________ffffff',
                    'ffffff_________ffffff',
                    'ffffff_________ffffff',
                    '__ffff_________ffff__',
                    'ffffff_________ffff_f',
                    'ffffff_________fff___',

                ],
                seats: {
                    f: {
                        classes: 'general-seat', //your custom CSS class
                        category: ''
                    },

                },
                naming: {
                    top: false,
                    getLabel: function (character, row, column) {
                        if (character == 'f') {
                            firstSeatLabel = firstSeatLabel + 1;
                            return seats[firstSeatLabel-1].seatlabel;
                        }
                    },
                },
                legend: {
                    node: $('#legend'),
                    items: [
                        ['f', 'available', 'Available'],
                        ['f', 'unavailable', 'Assigned'],
                    ]
                },
                click: function () {
                    if (this.status() == 'available') {
                        $("#" + previd).toggleClass("selected available");
                        //let's create a new <li> which we'll add to the cart items
                      var seat=  $('<li>' + this.data().category  + this.settings.label + '</b></li>')
                            .attr('id', 'cart-item-' + this.settings.id)
                            .data('seatId', this.settings.id)
                        //.appendTo();
                        $cart.html(seat);
                        previd =  this.settings.id;
                        /*
                         * Lets update the counter and total
                         *
                         * .find function will not find the current seat, because it will change its stauts only after return
                         * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
                         */
                        $counter.html(sc.find('selected').length);

                        return 'selected';
                    } else if (this.status() == 'selected') {
                        //update the counter
                       // $counter.text(sc.find('selected').length - 1);

                        //remove the item from our cart
                        $('#cart-item-' + this.settings.id).remove();

                        //seat has been vacated
                        return 'available';
                    } else if (this.status() == 'unavailable') {
                        //seat has been already booked
                        return 'unavailable';
                    } else {
                        return this.style();
                    }
                }
            });

        //this will handle "[cancel]" link clicks
        $('#selected-seats').on('click', '.cancel-cart-item', function () {
            //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
            sc.get($(this).parents('li:first').data('seatId')).click();
        });

        //let's pretend some seats have already been booked
        sc.get([ '4_1', '7_2']).status('unavailable');

    });

</script>
